# Theme: 1ST_GEN_REMIX
# Version 1.0
# Last Update: 01/26/2026
# License: CC-BY-SA 3.0
# By: Monica G.
# Description: Theme based on the iPod classic 1st generation's UI with some added features.
# Icons & viewers based on Susan Kare's classic Macintosh icons.
# Code based on: BACKBONE and Pixel Computer by me! which are based on SNARTY by Simon Anden and BONES by Chuck Largo!
# Hold screen is stripped back from the WPS to make room for album art.

#--CFG File--

wps: /.rockbox/wps/1ST_GEN_REMIX.wps
sbs: /.rockbox/wps/1ST_GEN_REMIX.sbs
selector type: bar (inverse)
font: /.rockbox/fonts/24-TrimpodUI.fnt
backdrop: -
background color: 637D8C
foreground color: 181C18
#ui viewport: -
statusbar: off
scrollbar: off
iconset: /.rockbox/icons/1ST_GEN_REMIX_icons.bmp
viewers iconset: /.rockbox/icons/1ST_GEN_REMIX_viewers.bmp
show icons: off
filetype colours: -
